@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

*
  margin: 0
  padding: 0
  box-sizing: inherit

html
  box-sizing: border-box


body
  background: #E7F6FF
  font-family: 'Inter', sans-serif
  background: #000



.header
  border-bottom: 1px solid #EAEAEA
  display: flex
  width: 100%
  justify-content: space-between
  padding: 43px 0
  &__left
    display: flex
    gap: 16px
    align-items: center
  &__right
    display: flex
    gap: 30px
    align-items: center
  &__title
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 24px
    text-transform: uppercase
    color: #000000
  &__sub
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #9D9D9D
  &__cart
    display: flex
    gap: 10px
    width: 100%
    align-items: center

.icon
  cursor: pointer
  
#root
  max-width: 1080px
  margin: 85px auto
  background: #fff
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04)
  border-radius: 20px

.container
  padding-left: 45px
  padding-right: 45px 

.app
  padding-bottom: 30px


.content
  margin-top: 34px
  &__title
    margin-bottom: 30px

.sneakers
  &__grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 40px
    grid-auto-rows: max-content
  &__item
    border: 1px solid #F3F3F3
    border-radius: 40px
    padding: 20px 30px 35px
    position: relative
  &__prodcontainer
  &__img
    max-width: 100%
    width: 100%
    object-fit: cover
  &__like
    position: absolute
    top: 30px
  &__title
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #000000
    margin-bottom: 15px
  &__pricecontainer
  &__preprice
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 11px
    line-height: 13px
    text-transform: uppercase
    color: #BDBDBD
  &__price
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 17px
    color: #000000
  &__addtocart

    
